* {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
}

.avatar {
 	border-radius: 50%;   
}

.avatar--round {
 	border-radius: 10px;   
}

.avatar--border {
 	border: 2px solid black;   
}

