.empty-state {
	color: #05445E;
	background-color: #D4F1F4;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.empty-state-title {
	font-size: 16px;
}

.empty-state-description {
  font-size: 12px;
}
